body
{
    font-family: Georgia;
}

#container
{
    height: 15em;
}

.section
{
    height: 100%;
    float: left;
}

#code
{
    width: 50%;
    border-right: 1px solid #aaaaaa;
}
#console
{
    width: 50%;
}
