doctype 5
html
    head
        script(src="components/codemirror/lib/codemirror.js")
        script(src="components/angular/angular.js")
        script(src="index.js")
        link(rel="stylesheet",href="components/codemirror/lib/codemirror.css")
        link(rel="stylesheet",href="style.css")

        //Bootstrap
        link(rel="stylesheet",href="components/bootstrap/docs/assets/css/bootstrap.css")
        //-script(src="components/bootstrap/js/bootstrap.js")
        script(src="node_modules/browserchannel/dist/bcsocket.js")

        //BrowserChannel
        script(src="node_modules/browserchannel/dist/bcsocket.js")
        style 
            body {padding-top: 80px}
    body(ng-app="codelab2",ng-controller="mainController")
        .navbar-fixed-top
            .navbar-inner
                .container
                    ul.nav
                        li
                            h3  
                                a(href="/") Codelab2


    block body
