extends layout
block body
    .container
        .row
            .span2
            .span8

                form(method="post",action="/auth/local")
                        label Nome
                        input(name="username") Nome
                        label Password
                        input(name="password")
                        input.btn(type="submit")
